name: Pytest slow nightly

# TODO(roulbac): Set the schedule back to "0 0 * * *" once the tests are stable.
on:
  schedule:
    - cron: "0,20,40 * * * *"

jobs:
  pytest-slow:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: reda-fix-slow-tests

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install dependencies within the environment
        run: pip install -r requirements.txt

      - name: pytest
        run: |
          python -m pytest -n 1 -s -vv -m "slow" .
        timeout-minutes: 20
